.container {
  width: 100vw;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
}

.logoAndNameContainer {
  display: flex;
  align-items: center;
  height: 5rem;
}

.logoAndNameContainer .logoContainer {
  height: 100%;
  overflow: hidden;
}
.logoAndNameContainer .logoContainer img{
  height: 100%;
  width: auto;
}

