.master-container {
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 10px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  font-family: poppins;
}

.form-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.form-textarea {
  resize: vertical;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #5c6bc0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #3f4c9b;
}

@media (max-width: 600px) {
  .form-container {
    padding: 20px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-input,
  .form-textarea,
  .form-button {
    font-size: 14px;
  }
}
