@import "tailwindcss";

@theme {
  --font-akaya-kanadaka: "Akaya Kanadaka";
  --font-biryani: "Biryani";
  --font-roboto: "Roboto";
  --font-comic-neue: "Comic Neue";
  --font-concert-one: "Concert One";
  --font-inter: "Inter";
}

body {
  @apply m-0 bg-[#c7cce5] min-h-screen;
}
